
 * {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

html , body , #root {
    height: 100vh;
    background-color: rgb(16, 17, 17);
}


h1 {
    color: rgb(231, 226, 225);  
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

h2 {
    color: rgb(184, 184, 176);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}

h3 {
    color: rgb(247, 247, 242);
    text-align: center;
}

h4 {
    color: rgb(218, 218, 15);
    text-align: center;
}

h5 {
    color: rgb(218, 218, 15);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}


p {
    color: whitesmoke;
}
#elLogo img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: solid;
    border-color: white;
}

#elHome {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10%;
    border-color: rgb(240, 243, 236);
}
#elHome h2{
    margin-left: 12px;
    padding: 15px;
    color:whitesmoke;
}
#elCarrito {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10%;
    border-color: rgb(229, 230, 228);
    padding: 0.5px;
    width: 130px;
}
#elCarrito h5 {
    color: rgb(244, 245, 239);
    text-align: center;
}

#CardDetail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    color: black;
    border: solid;
    border-color: red;
}

#CardDetail p {

    color: black;
}

#CardDetail h3 {

    color: black;
}
#CardDetail button {
    margin: 0 auto;
    color: black;
}

footer {
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
footer p {
    color:whitesmoke;
}
 
 header{
    background-color: #bd0a0a;
  }

.navbar{
    background-color:#bd0a0a;
    margin:0 auto;
    height: 100px;
}

.navbar ul {
margin:0 auto;
font-size: 30px;
padding: 10px;  

}

.navbar li {
    border: solid;
    border-color: rgb(236, 235, 230);
    margin: 20px;
    height: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    
}
#elContacto  {
    text-align: center;
    list-style: none;
    color: aliceblue;
}
   
#elContacto  li {
     display: inline-block;
     flex-direction: column;
     font-size: 25px;
     padding: 10mm; 
     margin: 0 auto;
     color: aliceblue;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-style: oblique;
   }


  .box-contador{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
  }

  .box-contador p{
    text-align: center;
    margin: 0 auto;
    size: 10px;
    color: rgb(240, 229, 229);
}

  .p-contador{
      width: 30px;
      text-align: center;
  }

main{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-producto{
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    
}
article{
    text-align: center;
    width: 300px;
    display: grid;
    grid-template-columns: 2fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
}

article img{
    border:solid;
    border-color: red;
}

button{
    background-color: #bd0a0a;
    border: solid;
    border-color: #e0e2d8;
    size: 5cm;
    width: 150px;

}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  
    display: inline-block;
    line-height: 2;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: whitesmoke;
    margin: 0 auto;
    align-items: center;
  }

#cArt {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#cArt .material-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color:rgb(230, 225, 223);
}
#cArt h5{
    color: rgb(219, 30, 17);
    font-family: fantasy;
    font-size: 1cm;
}