* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

html , body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#root > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgb(238, 29, 22);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    >div {
        display: flex;
        align-items: center;
        img {
            height: 200px;
        }
    }
    nav {
        a {
            margin-left: 1rem;
        }
    }

    @media screen and (min-width){
        
    }
}

main {
    flex-grow: 1;
    padding: 1rem;
}

h1 {
    color: rgb(207, 56, 10);
    text-align: center;
}

h2 {
    color: rgb(27, 10, 102);
    text-align: center;
}
footer {
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}



#listado-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    padding: 0.5rem;
    max-width: 300px;
    box-shadow: 1px 1px 3px rgba(50, 11, 114, 0.3);
    margin: 0.5rem;
    text-align: center;
    img {
        width: 100%;
    }
}   