* {
  margin:0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
}

body {
  overflow-x: hidden;
}

#elMenu {
  display: flex;
  flex-direction: row;
  padding: 10mm;
  border: solid;
  border-color: white;
}

#elMenu h1 {
  color:rgb(240, 235, 233);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2cm;
  margin: 0.5cm;
 
}

#elMenu li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
  border: solid;
  border-color: rgb(207, 73, 10);
  margin: 1.1cm;
  background-color: gold;
  padding: 4mm;
}

#elMenu li:hover {
  color:rgb(203, 203, 216);
  border-color: rgb(118, 196, 17);
  background-color: rgb(22, 22, 21);
}
#elMenu li p:hover {
  color:rgb(203, 203, 216);
  border-color: rgb(18, 19, 18);
  background-color: rgb(22, 22, 21);
}