* {
  margin:0;
  box-sizing: border-box;
  background-color: rgb(70, 67, 67);
}

/*Navbar*/

body {
  overflow-x: hidden;
}

#elMenu {
  display: flex;
  flex-direction: row;
  padding: 10mm;
  border: solid;
  border-color: white;
}

#elMenu h1 {
  color:rgb(240, 235, 233);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1cm;
  margin: 0.5cm;
 
}

#elMenu li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
  border: solid;
  border-color: rgb(208, 230, 12);
  margin: 1.1cm;
  background-color: rgb(228, 40, 33);
  padding: 4mm;
  color:honeydew; 
}

#elMenu li:hover {
  color:rgb(203, 203, 216);
  border-color: rgb(65, 235, 59);
  background-color: rgb(22, 22, 21);
}
#elMenu li p:hover {
  color:rgb(203, 203, 216);
  border-color: rgb(18, 19, 18);
  background-color: rgb(22, 22, 21);
}

h2 {
  color:rgb(240, 235, 233);
  text-align: center;
}
/*Películas*/

#tItulo{
  color: red;
  text-align: center;
  padding: 1cm;
}

img {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 1cm;
}

/*Boton cartelera*/
#bOton {
  background-color: red;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  color:whitesmoke;
  font-size: 1cm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1cm;
}

/* Footer */
footer{
  padding: 20px;
  text-align: center;
  font-size: 1cm;
  color:azure;
  background-color: rgb(82, 80, 80);
}

footer p{
  padding: 20px;
  text-align: center;
  font-size: 0.5cm;
  color:azure;
  background-color: rgb(82, 80, 80);
}

/*Contador*/
#cOntador {
  display: flex;
  flex-direction: column;
  text-align: center;
  width:  400px;
  margin: 0 auto;
  color:whitesmoke;
  font-size: 1cm;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 80px;
}